.gpt3__features-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gpt3__features-container-heading-container {
  padding: 2rem;
  width: 50%;
}
.gpt3__features-container-heading-container h2 {
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 2.5rem;
  width: 80%;
}
.gpt3__features-container-heading-container p {
  color: #ff8a71;
  font-family: var(--font-family);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin-top: 2rem;
}
